.search {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 80%;
  left: 40%;
}

.search-bar {
  background-color: rgba(255, 255, 255, 0);
  /* font-weight: bold; */
  font-family: 'Eczar', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Pacifico', cursive;
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(0, 0, 0, 1) rgba(255, 255, 255, 0);
}

.search-button {
  border-color: black;
  background-color: rgba(255, 255, 255, 0);
}

::-webkit-input-placeholder {
  color: black;
  opacity: 0.5;
}