.container {
  /* height: 100%; */
  width: 100%;
  /* border-radius: 30px; */
  /* padding: 2em;
  background-color: white; */
}

.star {
  height: 1em;
  width: 1em;
}

.image {
  width: 100%;
}

.image:hover + .painting-writing {
  display:flex;
}

.painting-writing {
  font-size: 0.5em;
  display: none;
 }



