.grid {
  display: grid;
}

@media (min-width: 360px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 720px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1050px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1350px) {
  .search-results .recipe-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.easel-window {
  /* height: 65vh;
  width: 60vw;
  position: relative;
  top: 0vh;
  left: 19vw; */
  /* background-color: rgba(255, 255, 255, 0.5); */
  height: 55%;
  width: 60%;
  position: fixed;
  top: 20vh;
  left: 19vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 48%;
}