.easel {
  height: 100vh;
}

.background {
  background-image: url(./Assets/ArtExhibit.jpeg);
  background-size: cover;
  background-position: center;
}

.easel-container {
  display: flex;
  justify-content: center;
}

.placeholder {
  height: 10vh;
}
