.easel {
  /* height: 90vh;
  width: 80vw;
  left: 10vw;
  right: 10vw;
  position: relative; */
  object-fit: contain;
  height: 90%;
  width: 80%;
  position: fixed;
  top: 10vh;
  left: 10%;
  z-index: -1;
}

.background {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.everything {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
}

.title {
  /* text-align: center; */
  /* margin-bottom: 10vh; */
  position: relative;
  top: 0;
  left: 0;
  font-family: 'Eczar', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Pacifico', cursive; 
  /* Imported from https://fonts.google.com/specimen/Pacifico?preview.text=Myseum&preview.text_type=custom#standard-styles */
}

.easel-window {
  height: 65vh;
  width: 60vw;
  position: relative;
  top: 0vh;
  left: 19vw;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-x: hidden;
  overflow-y: auto;
}
